[Unit]
Description=Avahi linker
After=avahi-daemon.service autofs.service network.target nfs-client.target dbus.service
Requires=avahi-daemon.service autofs.service network.target nfs-client.target dbus.service


[Service]
Type=simple
ExecStart=/usr/bin/avahi-linker
TimeoutSec=5
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
