Source: vdr-addon-avahi-linker
Section: video
Priority: extra
Maintainer: Alexander Grothe <seahawk1986@hotmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: https://github.com/seahawk1986/arch-avahi-linker

Package: vdr-addon-avahi-linker
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}, avahi-daemon, nfs-kernel-server, python3, libnss-mdns, nfs-common, autofs, python3-dbus, python3-gi
Suggests: vdr
Description: avahi-linker an VDR-Addon  
 avahi-linker an VDR-Addon                                            
Breaks: vdr-addon-avahi-mounter (<< 20131206181034testing)
Provides: vdr-addon-avahi-mounter
Conflicts: vdr-addon-avahi-mounter
Replaces: vdr-addon-avahi-mounter (<< 20131206181034testing)

