#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh  $@ --with=systemd

override_dh_installinit:
	dh_installinit --name=avahi-linker
	dh_installinit --name=vdr-update-monitor
	dh_installinit --name=vdr-net-monitor
	dh_installinit --name=prevent-umount-on-pause.service
